           
<section>
        <div class="rt-container">
              <div class="col-rt-12">
                  
                  <div class="box-paginacao">
                  <input type="radio" name="input-paginacao" id="paginacao1" checked>
                  <input type="radio" name="input-paginacao" id="paginacao2">
                  <input type="radio" name="input-paginacao" id="paginacao3">
                  <input type="radio" name="input-paginacao" id="paginacao4">
                  <div class="box-vitrines">
                    <ul>
                      <div class="vitrine1">
                        <h2>List of Priests</h2>
                        <li>
                                <div class="img-wrapper">
                                        <img src="./assets/profileImage/A1.jpg" alt="V.P. Iyer Samadhi">
                                        <h2>V.P. Iyer Samadhi</h2>
                                 </div>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="./assets/profileImage/A2.jpg" alt="Periyalvar">
                                <h2>Periyalvar</h2>
                            </div>
                        </li>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A3.jpg" alt="Tirumalai Krishnamacharya">
                                <h2>Tirumalai Krishnamacharya</h2>
                               
                            </div></li>
                      </div>
                      <div class="vitrine2">
                        <h2>Pagina 2</h2>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A4.jpg" alt="Velukkudi Krishnan">
                                <h2>Velukkudi Krishnan</h2>
                               
                            </div></li>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A5.jpg" alt="V. D. Trivadi Iyer">
                                <h2>V. D. Trivadi Iyer</h2>
                               
                            </div></li>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A6.jpg" alt="S. Subramania Iyer">
                                <h2>S. Subramania Iyer</h2>
                               
                            </div></li>
                      </div>
                      <div class="vitrine3">
                        <h2>Second Page</h2>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A1.jpg" alt="U. V. Swaminatha Iyer">
                                <h2>U. V. Swaminatha Iyer</h2>
                               
                            </div></li>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A2.jpg" alt="R. K. Narayan">
                                <h2>R. K. Narayan</h2>
                               
                            </div></li>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A3.jpg" alt="Gopalan Kasturi">
                                <h2>Gopalan Kasturi</h2>
                               
                            </div></li>
                      </div>
                      <div class="vitrine4">
                        <h2>Thrid Page</h2>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A4.jpg" alt="Kalki Sadasivam">
                                <h2>Kalki Sadasivam</h2>
                               
                            </div></li>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A5.jpg" alt="Subramaniya">
                                <h2>Subramaniya</h2>
                               
                            </div></li>
                        <li> <div class="img-wrapper">
                                <img src="./assets/profileImage/A6.jpg" alt="S. Subramania Iyer">
                                <h2>S. Subramania Iyer</h2>
                               
                            </div></li>
                      </div>
                    </ul>                  
                    <div class="btn-paginacao">
                      <ul>
                        <li><label for="paginacao1">1</label></li>
                        <li><label for="paginacao2">2</label></li>
                        <li><label for="paginacao3">3</label></li>
                        <li><label for="paginacao4">4</label></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="priestDetails">
        </div>
    </section>