<div class="col-sm-8" style="margin: 13px 0px;">
    <div class="box box-info">
        <div class="box-header">
          <i class="fa fa-envelope"></i>

          <h3 class="box-title">FeedBack</h3>
<!--
          <div class="pull-right box-tools">
            <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                    title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
-->          
        </div>
        <div class="box-body">
          <form>
                <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Your Name:">
                      </div>
            <div class="form-group">
              <input type="email" class="form-control" name="emailto" placeholder="Email :">
            </div>
            <div class="form-group">
              <input type="tel" class="form-control" name="contact" placeholder="Contact :">
            </div>
            <div>
              <textarea class="textarea" placeholder="Message"
                        style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            </div>
          </form>
        </div>
        <div class="box-footer clearfix">
          <button type="button" class="pull-right btn btn-default" id="sendEmail" (click)="sendFeedback()">Send
            <i class="fa fa-arrow-circle-right"></i></button>
        </div>
      </div>
    </div>
    