<!-- <section>
<div class="box-vitrines">
    <h3>Patron List</h3>
    <ul *ngFor="let object of queryResult.data">
        <div class="vitrine1">
            <li>
                <div class="img-wrapper">
                    <img src="../../assets/patronImage/{{object.FirstName}}.jpg" alt={{object.FirstName}}>
                    <h2>{{object.FirstName}}</h2>
                </div>
            </li>
        </div>
    </ul>
</div>
</section> -->
<div class="col-lg-12 control-section">
  <div class="col-lg-3 control-section">
    <div class="sample_container">

      <div class="e-card e-custom-card">
        <div class="e-card-header">

          <div class="e-avatar e-avatar-circle e-avatar-xlarge">
            <img src="./assets/patronImage/kamesh.jpg" alt="profile_pic">
          </div>
          &nbsp;
        </div>
        <div class="e-card-header">
          <div class="e-card-header-caption center">
            <div class="e-card-header-title name">Kamesh Gopalan</div>
            <div class="e-card-sub-title">KASH Tech LLC</div>
          </div>
        </div>
        <div class="e-card-content">
          <p class="avatar-content">Founder, Principal Architect at KASH Tech LLC (Certified Implementation Partner of IBI).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 control-section">
    <div class="sample_container">

      <div class="e-card e-custom-card">
        <div class="e-card-header">

          <div class="e-avatar e-avatar-circle e-avatar-xlarge">
            <img src="./assets/patronImage/karthick.jpg" alt="profile_pic">
          </div>
          &nbsp;
        </div>
        <div class="e-card-header">
          <div class="e-card-header-caption center">
            <div class="e-card-header-title name">Karthick</div>
            <div class="e-card-sub-title">Fashion Photographer</div>
          </div>
        </div>
        <div class="e-card-content">
          <p class="avatar-content">Photographer Karthik Srinivasan, now a much talked about name on the advertising,fashion and celebrity scene</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 control-section">
    <div class="sample_container">

      <div class="e-card e-custom-card">
        <div class="e-card-header">

          <div class="e-avatar e-avatar-circle e-avatar-xlarge">
            <img src="./assets/patronImage/piyush.jpg" alt="profile_pic">
          </div>
          &nbsp;
        </div>
        <div class="e-card-header">
          <div class="e-card-header-caption center">
            <div class="e-card-header-title name">Piyush</div>
            <div class="e-card-sub-title">Central Minister</div>
          </div>
        </div>
        <div class="e-card-content">
          <p class="avatar-content">Piyush Prakash Goyal is an Indian politician and the current minister of Railways and Commerce in the Government of India.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 control-section">
    <div class="sample_container">

      <div class="e-card e-custom-card">
        <div class="e-card-header">

          <div class="e-avatar e-avatar-circle e-avatar-xlarge">
            <img src="./assets/patronImage/sasikumar.jpg" alt="profile_pic">
          </div>
          &nbsp;
        </div>
        <div class="e-card-header">
          <div class="e-card-header-caption center">
            <div class="e-card-header-title name">Sasikumar</div>
            <div class="e-card-sub-title">Film Actor / Director</div>
          </div>
        </div>
        <div class="e-card-content">
          <p class="avatar-content">Mahalingam Sasikumar is an Indian film director, actor, singer and producer.</p>
        </div>
      </div>
    </div>
  </div>

</div>